html{
  overflow-x: hidden!important;
}
body{
  font-family: 'Arvo', serif; 
  margin: 0;
  padding: 0;
  color: black;
  
}
.dark-mode {
background-color: rgb(0, 0, 0);
color: #df8600;
transition-duration: 1s;
overflow-X: hidden;
}

.show{
  display: block!important;
  z-index: 1000!important;
}

.showNavBtn{
  display: none;
}
.navbar {
  width: auto;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  background-color: rgb(255, 255, 255);
  height: 30px!important;

}
.navbar ul{
  width: auto;
  margin-top: 25px;
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 105px;

  
}
.navbar ul li:nth-child(1){
background-color: #df8600;
color: antiquewhite;
}

.navbar ul li{
  width: auto;
  text-decoration: none;
  display: inline;
  padding: 13px 5px;
  text-align: center;
  border-bottom: 1px solid rgb(182, 119, 1);
  margin: 10px;
}
.navbar ul li a {
text-decoration: none;
color:#000000 ;
padding: 15px 35px;
}
.navbar ul li:hover{
  background-color: #14809b;
  color: rgb(0, 0, 0);
 
}
.navbar ul  a:hover{
color: #fff;
text-decoration-color: #ddd;

}
.dropdown {
float: left;
overflow: hidden;
float: right;
margin-bottom: 0;

}

/* Dropdown button */
.dropdown .dropbtn {
position: absolute;
right: 20px;
top: 20px;
font-size: 16px;
border: 0px solid black;
outline: none;
color: rgb(0, 0, 0);
background-color: inherit;
font-family: inherit; /* Important for vertical align on mobile phones */
z-index: 1000!important;
}



.dropdown-content {
  position: relative;
  top: 63px;
  right: 20px;
color:rgb(0, 0, 0);
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown .dropbtn:hover .dropdown-content{
  display: block!important;
}

/* Links inside the dropdown */
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
background-color: rgb(32, 110, 129);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block!important;
position: absolute;
}
.foto1{
width: 35px;
height: 35px;
}
.main {
background-image: url('../images/BG2.jpg');
background-size: cover;
height: 760px;
max-width: 100%;
background-repeat: no-repeat;
display: block;
margin-top:86px!important;
}
.head4{
position: absolute;
padding: 15px 30px;
width: 35%;
height: 34px;
font-size: 19px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
font-weight: lighter;
border: 1px solid black;
margin-right: 50%;
margin-top: 646px;
background-color: rgba(1, 1, 1, 0.178);
border-radius: 30px;
text-decoration: none;
color:#fff;
margin-left: 35%;

}

.main a:hover{
background-color: rgba(253, 253, 253, 0.973);
color: #df8600;
font-size: 25px;
font-weight: 450;
width: 340px;
transform:translateY(5px);
transition-duration : 0.5s;
}
.cards {
width: 100%;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin-top: 40px;
margin-bottom: 100px;
margin-left: 5%;

}
.cards h4{
color: #06404e;
position: absolute;
text-align: center;
margin-left: 0 auto;
margin-top: 25px;
border-bottom: 1px solid rgb(182, 119, 1);
padding: 10px 20px;
font-size: 18px;
text-transform: uppercase;
}
.cards h4:hover{
border-bottom: 2px solid  rgb(182, 119, 1) ;
transition-duration: 0.3s;
}

.cards p{
font-size: 18px;
}

.card{
margin-top: 135px;
width: 350px;
height: 600px;
border: 1px solid #000000;
border-bottom: 2px solid rgb(182, 119, 1)!important;
margin-right: 30px;
padding-left: 10px;
border: 1px solid #df8600;


}
.card:hover{
border: 2px solid rgb(6, 54, 99);
transition-duration: 0.5s;
transform: rotate(0.006turn);
margin-top: 110px;

}
.card img{
max-width: 100%;
height: 200px;

}
.card h3{
  text-transform: uppercase;
font-weight: 530;
color: #006a85;
font-size: 17px;
}
.card h3:hover{
text-transform: uppercase;
color: #06404e;
}
.card a{
float: right;
text-decoration: none;
color: rgb(13, 82, 122);
font-size: 19px;
padding-right: 10px;
}
.card a:hover{
color: rgb(182, 119, 1);
font-size: 21px;
}


.footer {
  position:absolute;
  margin-top:650px;
  margin-bottom: 0px;
  width: 100%;
  height: 300px;
  background-color:rgb(32, 95, 177);
 text-align: center;
 
}
.up{
color: rgb(255, 255, 255);  
text-decoration: none;
margin-top: 0px;
margin-left: 20%;
border: 1px solid white;
padding: 15px 20px;
border-radius: 65%;
text-align: center;
}
.up:hover{
color: #df8600;
border: 2px solid #df8600;

}
.loc{
color: #06404e;
position: absolute;
left: 50%;
transform: translateX(-50%);
text-align: center;
margin-top: 40px;
border-bottom: 1px solid rgb(182, 119, 1);
padding: 10px 20px;
font-size: 18px;
text-transform: uppercase;

}
.location{
  margin-top: 100px;
  margin-left: 35px;
  width: 40%;
  height: 250px;
  border-bottom: 2px solid rgb(182, 119, 1);
  padding: 0px 20px;
  font-size: 20px;
  color: #312c2c;
}
.footer h3 {
  padding-top: 20px;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  text-align: center;
  margin-left: 75PX;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 70px;
  
}

.footer h3 a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.footer button{
color: #000000;
background-color: #ffffff;
margin-top: 130px;
font-size: 16px;
float:left;
padding: 10px 10px;

margin-bottom:10px!important;
margin-left: 15px;
}
.footer button:hover{
color: #000000;
background-color:#fff;

}
.head7{
  margin-top: 0;
  color: #000000!important;
  
}
.head1{
color: rgb(0, 0, 0);
margin-top: 60px;
}
.head1 span{
  color: #f0b32f;
  font-size: 20px;
}
iframe{
  float: right;
}

@media (max-width:1150px) {
   .navbar ul{
     width: 100%;
     display: none;     
     background-color: #ddd;
     /* position: absolute!important;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 10000!important; */
   }

   .navbar ul li{
     display: block;
   }

   .showNavBtn{
     display: block;
     margin: 0 auto;
   }
   .location{
    width: 100%;
    clear: both;
    position: relative;
    overflow: hidden;
  }
  iframe{
    width: 100%;
    padding: 0 0;
  }
}

@media (max-width:375px) {
  *{
    overflow-x: hidden!important;
    overflow-y: hidden!important;
  
  }
  .main{
    overflow: hidden;
  }
  .location{
    overflow: hidden;
  }
   .navbar{
     max-width: 375px;
     height: 65px;
     margin-bottom:150px ;
   }
   .navbar ul{
     margin-left: 35px;
     margin-top: 10px;
     text-align: center;
   }
   .navbar ul li:nth-child(2){
     display: none;
   }
   .navbar ul li:nth-child(5){
     display: none;
   }
   .navbar ul li:nth-child(2){
     display: none;
   }
   .navbar ul li:nth-child(2){
     display: none;
   }
   .navbar ul li:nth-child(){
     display: none;
   }
   .navbar ul li{
     float: left;
     margin-left: 0%;
     width: 65px;
     font-size: 14px;
     margin-top: 0;
     text-align: center;
   }
   .navbar ul li a {
     text-decoration: none;
     color: #000000;
     padding: 16px 12px;
 }
   .body{
     max-width: 375px!important;
     overflow-y: hidden;
   }
   .head4{
     margin-left: 100px;
     font-size: 15px;
     height: 20px;
     width: 129px;
   }
   .cards h4{
     margin-left: 122px;
   }
   .cards{
     overflow-x: hidden;
   }
   .dropdown{
     display: none;
   }
 
 
}